@font-face {
    src: url("../fonts/Inter\ \(OTF\)/Inter-Thin-BETA.otf");    
    font-family: "Inter";
    font-weight: 100;
}

@font-face {
    src: url("../fonts/Inter\ \(OTF\)/Inter-Regular.otf");
    font-family: "Inter";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/Inter\ \(OTF\)/Inter-SemiBold.otf");
    font-family: "Inter";
    font-weight: 600;
}

@font-face {
    src: url("../fonts/Inter\ \(OTF\)/Inter-Black.otf");
    font-family: "Inter";
    font-weight: 900;
}

